.gradient-background {
    background: linear-gradient(300deg, #102830, #643358, #de9288);
    background-size: 180% 180%;
    animation: gradient-animation 18s ease infinite;
    padding:20px;
    margin:0;
  }
  
  @keyframes gradient-animation {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  } 
 .wel {
    
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    background-color:#643358;
    color: #102830;
    text-align: center;
    font-size: 7em;
  margin-bottom: 10px;
  animation-name: rick;
  animation-duration: 10s;
  animation-iteration-count:20;
 }
 @keyframes rick{
    from{
      color: #102830;
    }
    to {
      color:#de9288;
    }
}
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.img {
    height:130px;
    width:140px;
      
}
.skill {
    text-align: center;
}
.list {
    list-style: none;
    }